.responsive-pie {
    height: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 3%;
}
@media (max-width: 768px) {
    .responsive-pie {
        height: 230px;
    }
}